doctype html
html(lang="en")
  head
    title= `${playerDetails.data.name}'s Details`   
    script(type='text/javascript', src='https://cdn.tailwindcss.com')
  body
    header(class="text-white bg-indigo-500")
      div(class="container mx-auto flex flex-wrap p-5 flex-col md:flex-row items-center")
        a(class="flex title-font font-medium items-center text-gray-900 mb-4 md:mb-0")
        span(class="ml-3 text-xl") Cricket Dashboard
    section(class="text-gray-600 body-font overflow-hidden")
      div(class="container px-5 py-24 mx-auto")
        div(class="-my-8 divide-y-2 divide-gray-100")
          div(class="py-8 flex flex-wrap md:flex-nowrap")
            div(class="md:w-64 md:mb-0 mb-6 flex-shrink-0 flex flex-col")
              span(class="font-semibold title-font text-gray-700 mb-4") Player Details:
               - if (playerDetails && playerDetails.data)
                div(class="md:flex-grow")
                    h2(class="text-2xl font-medium text-gray-900 title-font mb-2")=`Player Name: ${playerDetails.data.name}`
                    p(class="leading-relaxed mb-2")=`Player Role: ${playerDetails.data.role}`   
                    p(class="leading-relaxed mb-2")=`Player Batting Style: ${playerDetails.data.battingStyle}`
                    p(class="leading-relaxed mb-2")=`Player Bowling Style: ${playerDetails.data.bowlingStyle}`
                    p(class="leading-relaxed mb-2")=`Player Country: ${playerDetails.data.country}`
               - else
                p No player selected
              
